body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 30px;
  }
  
  .grid-container {
    display: grid;
    margin: 50px;
    grid-template-columns: repeat(auto-fill, 50px);
    grid-auto-rows: 50px;
    gap: 10px;
  }
  
  .grid-container button {
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    margin: 4px;
    transition: background-color 0.3s ease;
  }  
  .grid-container button:hover {
    background-color: lightblue;
  }
  
  .grid-container button.clicked {
    background-color: red;
  }
  